.results-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  background-image: repeating-radial-gradient(
    circle farthest-corner at -1% 0,
    #d4034f,
    #90088b 30%,
    #662d91 53%,
    #90088b 78%,
    #b1005e
  );
}

.results-section > .title-container {
  margin: 4rem 0 0 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  color: #ccc;
  padding: 1rem;
}

.results-section > .title-container > h2 {
  text-align: left;
}
